/*共通*/
body {
    font-family: "Source Sans Pro", "Hiragino kaku Gothic ProN", Meiryo, Arial, sans-serif;
    font-size: 15px;
    max-width: 1080px;
    margin: 0 auto 0 auto;
*{
    box-sizing: border-box;
}    
    
}

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;

}

/*ナビゲーションレイアウト*/
#nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
}
/*ナビゲーションリンク*/
#nav-pc ul {
    display: flex;
    padding-left: 0;
}

#nav-pc li {
    margin-left: 20px;
    list-style: none;
}

#nav-pc a {
    text-decoration: none;
    color: 04414A;
}

#navi-pc a:hover {
    text-decoration: underline;
}

/*メインビジュアル*/
#main-visual {
    position: relative;
    height: 400px;
}

#main-visual > img {
    max-width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
/* メインメッセージ */
#main-message {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #04414A;
    color: #ffffff;
    border-radius: 0 0 150px 0;
    width: 100%;
    height: 100%;
    max-width: 620px;
    z-index: 11;
}
/* メインメッセージ見出し */
#main-message > h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 100px 0 0 50px;
}

/* メインメッセージ文章 */
#main-message > p {
    font-size: 28px;
    margin: 0 0 0 50px;
}

/* コンセプト見出し */
h2 {
    margin: 40px 0 0 0;
}

/* コンセプト見出しの右線　*/
h2::after {
    content: url("images/line.png");
    margin-left: 10px;
}

/*コンセプト小見出し*/
h3 {
    font-size: 27px;
}

/* コンセプト */
#concept {
    margin: 80px auto 0 auto;

}

/* コンセプト横並び */
#concept-flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* コンセプト各要素 */
#concept-flex > div {
    width: 50%;
    margin: 20px;
}

/* コンセプト画像 */
.concept-photo {
    width: 80%;
}

/* 商品セクション */
#product {
    background-color: #f6f6f6;
    margin: 20px 0 80px;
    padding: 10px 40px 40px;
}

/* 商品全体を横ならび */
#product > div {
    margin-top: 40px;
    display: flex;
}

/* 商品の左右カラム */
#product-left,
#product-right {
    width: 50%;
    margin: 0 20px;
}

/* 右下げ */
#product-right {
    margin-top: 80px;
}

/* 商品一つ分のブロック */
#product-left > div,
#product-right > div {
    position: relative;
    height: 420px;
}

/* 左カラムの商品位置 */
#product-left　> div {
    margin-right: 20px;
}

/* 右カラム */
#product-right > div {
    margin-left: 20px;
}
/* 商品画像 */
.product-photo {
    width: 100%;
}

/* 商品説明BOX */
.product-explain {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 50px;
    margin: 0 40px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}

/* 商品英語見出し */
.product-explain >span {
    color: #04414A;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

/* 商品説明の見出し */
.product-explain > h3 {
    margin: 5px 0;
}

/* 商品説明文 */
.product-explain > p {
    margin: 0;
}

/* 会社概要セクション */
#company {
    margin: 80px auto 80px auto;
    padding: 10px 40px 0 40px;
}
#company-table {
    width: 100%;
}

.tableheader {
    text-align: left;
    padding: 20px;
    border-bottom-color: #04414A;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100px;
}

.tableheader-first {
    border-top-color: #04414A;
    border-top-width: 1px;
    border-top-style: solid;
}

.cell {
    padding: 30px;
    border-bottom-color: #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.cell-first {
    border-top-color: #ececec;
    border-top-width: 1px;
    border-top-style: solid;
}

/* フッター */
footer {
    background-color: #04414A;
    text-align: center;
    padding: 80px 80px 30% 80px;
}

#footer-logo {
    margin-bottom: 30px;
}

#footer-link {
    margin-bottom: 50px;
}
#footer-link >a {
    text-decoration: none;
    margin: 10px;
    color: #ffffff;
}
#footer-link >a:hover {
    text-decoration: underline;
}

#sns-footer {
    text-align: left;
    width: 100%;
}
#sns-footer > a {
    margin-right: 30px;
}

#copyright {
    color: #ffffff;
    float: right;
    
}


